.login {
    display: flex;
    justify-content: center;
    margin: 100px 0;

    .form {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 500px;
        padding: 40px;
        border-radius: 8px;
        border: 1px solid lightgray;

        h1 {
            text-align: center;
        }
        label {
            color: gray;
            font-size: 18px;
        }

        input {
            padding: 15px;
            border-radius: 5px;
            outline: none;
        }

        button {
            padding: 10px;
            font-weight: 500;
            font-size: 18px;
            background-color: #1dbf73;
            border: none;
            cursor: pointer;
            color: white;
            border-radius: 5px;
        }
    }
}
